body {
font-family: Arial, sans-serif;
background-color: #f0f0f0;
}
.container {
max-width: 400px;
margin: 50px auto;
padding: 20px;
background-color: #fff;
border-radius: 8px;
box-shadow: 0 0 10px rgba(0,0,0,0.1);

}
.homecontainer {
  max-width: auto;
  height: 100%;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
  }
.cont {
text-align: center;
} 
h1{
    color: #251f59;
}
label{
    color: rgb(82, 81, 81);
}
form {
margin-top: 30px;
}
label {
font-weight: bold;
}
input[type="text"],
input[type="password"] {
width: 100%;
padding: 8px;
margin: 5px 0 15px;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
}
button {
background-color: #4c4caf;
color: white;
padding: 10px 20px;
border: none;
border-radius: 4px;
cursor: pointer;
}
input[type="button"]{
background-color: #4c4caf;
color: white;
padding: 10px 20px;
border: none;
border-radius: 4px;
cursor: pointer;
}
button:hover {
background-color: #251f59;
}

#navbar {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #bccbf3;
  }
  
  #navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  #navbar a:hover {
    background-color: #ddd;
    color: rgb(149, 160, 238);
  }
  
  #navbar a.active {
    background-color: #040348;
    color: white;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border:1;
  }
  
  td {
    border: 1px solid #dddddd;
    text-align: left;
    height: 15px;
    padding: 8px;
  }
  th{
    border: 1px solid #dddddd;
    background-color: #251f59;
    text-align: left;
    color: #f0f0f0;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #e5ebfa;
  }
  #myIframe {
    width: 100%;
    height: 100vh;
    border: 1px solid #000;
    display: none; /* Initially hidden */
}
