<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\style.css">
    <title>HOME</title>
</head>
<body>
    <div id="navbar">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <span class="hamburger" onclick="toggleSidebar()">&#9776;</span>
      </div>
      <div id="mySidebar" class="sidebar">
        <button class="closebtn" onclick="closeSidebar()">&times;</button> 
        <br>
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('addemp') }}">Add Employee</a>
        <a href="{{ url_for('addusr') }}">Add User Images</a>
        <a href="{{ url_for('index') }}">Logout</a>
    </div>

    <div class="homecontainer">
        <br>
        <h2>Attendance Status </h2>
        <input type="date" id="dt" name="dt"> &nbsp;&nbsp;&nbsp;
        <button onclick="showTable()">Submit</button>
        <br>
        <br>
        <div class="attendence_cont">
            <div class="attendance">
                
                <iframe id="myIframe"></iframe>
            </div>
            <div class="video-stream">
                <h2>Live Video Stream</h2>
                <img src="{{ url_for('video_feed') }}" alt="Live Video Stream">
                <br>
            </div>
        </div>

        <script>
         function showTable() {
            var selectedDate = document.getElementById('dt').value;
            if (selectedDate) {
                var iframe = document.getElementById('myIframe');
                iframe.src = "/attendance?date=" + selectedDate;
                iframe.style.display = 'block';
            } 
            else {
                    alert("Please select a date.");
                }
            }


            function toggleSidebar() {
                var sidebar = document.getElementById("mySidebar");
                if (sidebar.style.display === "block") {
                    sidebar.style.display = "none";
                } else {
                    sidebar.style.display = "block";
                }
            }
            function closeSidebar() {
                document.getElementById("mySidebar").style.display = "none";
            }

            
        </script>
    </div>
    
</body>
</html>