<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\style.css">
    <title>HR LOGIN</title>

</head>
<body>
    <div class="container">
        <div class="cont">
            <h1>LOGIN</h1>
            </div>

        <form action="{{ url_for('submit') }}" method="post">
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username" required><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" required><br>
            <div class="cont">
                <button type="submit">Login</button>

            </div>

        </form>
    </div>
</body>
</html>