<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\style.css">
    <title>Attendence table</title>
</head>
<body>
    {% if employees %}
    <table>
        <tr>
            <th>
               Sl.No 
            </th>
            <th>
                Employee ID
            </th>
            <th>
                Employee Name
            </th>
            <th>
                Status
            </th>
            <th>
                In-Time
            </th>
        </tr>
        {% for employee in employees %}
        <tr>
            <td>{{ loop.index }}</td>  
            <td>{{ employee.id }}</td>
            <td>{{ employee.name }}</td>
            <td>{{ employee.status }}</td>
            <td>{{ employee.in_time }}</td> 
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>No attendance data available for the selected date.</p>
    {% endif %}
</body>
</html>